<div class="page-title">Available Products</div>
<div class="products-list-container">
  <div *ngFor="let product of (productsList$ | async)" class="products-list" routerLink="{{product.id}}">
    <div class="products-list-row title">
      <div>{{product.title}}</div>
    </div>
    <div class="products-list-row">
      <span>Price: </span><span>{{product.price}}</span>
    </div>
  </div>
</div>

<div class="button-container">
  <div class="add-button" (click)="addProduct()">Add Item</div>
</div>

<div *ngIf="getProduct$ | async as product">
  Found Product's Title: {{product.title}}
</div>

